body {
  background: #A0BAB1;
  font-size: 100px


}

.github-id {
  width: 300px;
}

h1 {
  font-size: 30px;
  margin-top: 50px;
  margin-left: 100px;
}

.github-id {
  margin-left: 100px;
  font-size: 30px;
  border-radius: 5px;
}

.submit-button {
  font-size: 100px;
  margin-left: -20px;
}

.display-github-info {
  float: right;
  margin-right: 300px;
  font-size: 30px;

}

.name {
  float:right;
  padding-left: 1em;
  padding-top: 1em;
}

.avatar {
  width: 100px;

}

.public-repos {
}

.followers {
}
