<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
    <title>Github Project</title>
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    <h1>Enter your GitHub ID below</h1>

    <script type="text/template" class="template">

    <div class="display-github-info">
      <h3 class="name"> <%- m.name %> </h3>
      <img src="<%- m.avatar_url %>" class="avatar">
      <ul>
        <li class="public-repos">
          Public Repos: <%- m.public_repos %>
        </li>
        <li class="followers">
          Followers:  <%- m.followers %>
        </li>
      </ul>

    </div>





    </script>

    <form>
      <input type="text" class="github-id" placeholder="  GitHub ID" value="miriamcrystal"></input>
      <input type="submit" value="submit" class="submit-button"></input>
    </form>


  </body>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type=text/javascript src="js/underscore.js"></script>
  <script type=text/javascript src="js/main.js"></script>

</html>
